@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  *{
    margin: 0 auto;
  }
/* shared styles */
.flex{
  display: flex;
}
.bg-color{
  background: rgba(255, 144, 14, 0.10);;
}
.btn-primary{
  width: 150px;
  height: 50px;
  border-radius: 8px;
  background: #FF900E;
  color: #FFF;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  border: 0;
}
main{
  max-width: 1440px;
  margin: 0 auto;
}
main > section{
  margin-top: 130px;
}

/* header styles */

/* navbar styles */
.navbar{
  justify-content: space-between;
  align-items: center;
  
}
.nav-item{
  list-style: none;
  margin-left: 30px;
 }
 .nav-link{
  color: #424242;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  
 }
 .brand{
  color: (#131313);
  font-size: 2.7rem;
  font-weight: 700;
  
 }
 .navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
 }
 /* banner styles */
 .banner-content{
  max-width: 862px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 105px;
 }
 .banner-title{
  color: #131313;
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
 }
 .banner-img{
  width: 100%;
  margin-bottom: 45px;
 }
 /* team and feature image style */
 .teams{
  align-items: center;
 }
 .team-image{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
 }
 .our-features{
  margin-left: 73px;
  max-width: 530px;
 }

 .features-title{
  color: #727272;
  font-size: 2.8rem;
  font-weight: 500;
 }
 #quick-list{
  color: #131313;
  font-weight: bold;
 }
 .features{
  color: #FF900E;
  font-weight: bold;
 }
 /* Features love & enjoy */
 #feature-section-title{
  border-left: 5px solid #FF900E;
  padding-left: 20px;
 }
 .love-enjoy{
  display: flex;
  gap: 150px;
 }
 .feature-card{
  width: 586px;
  height: 171px;
  margin-top: 20px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  
 }
 .feature-card-title{
  color: #131313;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 30px 0px 10px 30px;
 }
.feature-card-dsc{
  color: #727272;
  padding-left: 30px;
}
#experience-bage{
  width: 342px;
  height: 200px;
  border-radius: 8px;
  margin-left: -92px;
  margin-top: -123px;
}
#experience-year{
  font-size: 4rem;
  font-weight: 700;
}
.experience-year{
  font-size: 25px;
  font-weight: 500;
}
.feature-architect img{
  width: 100%;
}

/* some facts style */
.facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-card{
  border-radius: 8px;
  border: 1px solid #FF900E;
  width: 240px;
  height: 240px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.fact-number{
  color: #424242;
  font-size: 2.8rem;
  font-weight: 600;
}
.fact-name{
  color: #727272;
  font-size: 1.25rem;
  font-weight: 600;
}
.facts-section-title{
  color: #131313;
  font-size: 2.8rem;
  font-weight:700px ;
  margin-bottom: 24px;
  margin-left: 0;
  max-width: 460px;
}
.facts-section-dsc{
  max-width: 550px;
  margin: 0;
}
/* sponsors style */
.sponsors{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}
.sponsors-title{
  color: #131313;
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 24px;
}
.sponsors-dsc{
  color: #727272;
  margin-bottom: 50px;
}
.sponsor-companies{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img{
  filter: grayscale(100%);
}

/* footer style */
footer{
  max-width: 1440px;
  height: 50px;
  border-radius: 8px;
  background: #FFF4E7;
  margin-top: 100px;
  margin-bottom: 10px;
}
.footer-credit{
  color: #424242;
  font-size: 1.25rem;
  text-align: center;
  padding-top: 15px;

}
.footer-credit span {
  font-weight: bold;
  color: #ff3c00;
}

 /* responsive small device */
 @media screen and (max-width: 576px) {
  .navbar, 
  .nav-links, 
  .teams,
  .love-enjoy{
    flex-direction: column;
  }
  .team-image, 
  .facts-container,
  .sponsor-companies{
    grid-template-columns: 1fr;
  }

  .sponsor-companies{
    gap: 30px;
  }
  .fact-card{
    margin-top: 24px;
  }
  .facts-section-title{
    padding-left: 13px;
  }
  .facts-section-dsc{
    padding-left: 13px;
  }
  main > section{
    margin-top: 50px;
  }

  .our-features{
    margin-left: 20px;
  }
  .banner-img{
    max-width: 95%;
  }
  #experience-bage{
    margin-top: 20px;
    margin-left: 20px;
  }
  .feature-card{
    width: 100%;
  }
  footer{
    height: 65px;
  }
 }

  /* responsive medium device */
  @media screen and (min-width: 576px) and (
    max-width: 992px) {
    .teams, .love-enjoy{
      flex-direction: column;
    }
    .our-features{
      margin: 20px auto;
    }
  .banner-img{
    max-width: 95%;
  }
  .facts-container{
    grid-template-columns: repeat(2, 1fr);
  }
  .sponsor-companies{
    grid-template-columns: repeat(3, 1fr);
  }
  .sponsor-companies{
    gap: 50px;
  }
  .facts-section-title{
    padding-left: 110px;
  }
  .facts-section-dsc{
    padding-left: 110px;
  }
  main > section{
    margin-top: 50px;
  }
  #experience-bage{
    margin-top: 20px;
    margin-left: 20px;
  }

  }
